@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #1b5958;
    --button-color: #4cc5d2;
}
.voting-header {
    text-align: center;
}
.form{
    align-items: center;
    border: 0;
    display: flex;
    font-size: 16px;
    height: 100%;
    background-color: #1b5958;
    justify-content: center;
    margin: 0;
    padding: 0;
}
form {
    display: flex;
    border: 1px solid  #f4f4f4;
    background-color: #fff;
    padding: 10px 30px;
    flex-direction: column;
    align-items: center;
    margin: 50px 0rem;
    min-height: 50vh;
}
.input-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px;
}
input,
.select {
    width: 300px !important;
}
h2 {
    color: var(--primary-color) !important;
}
.login-btn{
    width: 300px !important;
    background-color: var(--primary-color) !important;
    text-align: center !important;
    color: #fff !important;
}
.btn-sign {
    border: none;
    width: 300px !important;
    background-color: var(--primary-color) !important;
    text-align: center !important;
    color: #fff !important;
    border: 1px solid var(--primary-color) !important;
}
@media (max-width: 700px) {
    h2 {
        font-size: 17px;
    }
    .input-flex {
        width: 0;
        justify-content: center;
        flex-direction: column;
    }
    
}
