@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
ul li {
    list-style: none;
}
:root {
    --primary-color: #ffd600;
}

h1 {
    margin: 0 !important;
}
.socials {
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;
    color: #e4583b;
}
.link {
    margin-left: 1rem;
    margin-top: 0.5rem;
}
/*Header Style*/
.header {
    padding: 2rem 5rem;
}
/*End of header style*/
/*Wallet Style*/
.wallet {
    display: flex;
    justify-content: center;
}
.wallet-info p {
    width: 400px;
    color: #fff;
    font-size: 20px;
}
.wallet-info {
    margin-top: 2rem;
}
.wallet-info h1 {
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
}
.wallet-info .text-one {
    transform: translateY(10px);
}
.wallet .register-btn ,.btn-notified{
    border-radius: 5px !important;
    color: #2d007e;
    width: 130px;
}
.btn-input{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn-input input{
  background: rgba(255, 255, 255, 0.2);
border-radius: 10px;
border: none;
padding: 10px;
width: 250px;
}
.btn-notified{
  height: 40px !important; 
}
/*End of Wallet style*/

/*Responsive Design*/
@media (max-width: 800px) {
    /* Wallet style*/
    .wallet {
        flex-direction: column;
        text-align: center;
    }
    .wallet-info h1 {
        font-size: 25px;
    }
    .wallet-info {
        transform: translateY(-10px);
    }
    .wallet-info p {
        width: 100%;
        padding: 0 5rem;
        font-size: 15px;
    }
    .btn,
    .socials {
        transform: translateY(-10px);
        text-align: center !important;
    }
    .socials {
        justify-content: center;
    }

    @media (max-width: 500px) {
        .wallet-info p {
            padding: 0 2rem;
        }
        .btn-input {
          flex-direction: column;
        }
    }
    /*End of Wallet style*/
}
